* {
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Roboto";
    
}


body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section#wrapped{
    background-image: linear-gradient(to top, red , orange);
    height: 100%;
    width: 50%;
}
header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
}
main {
    
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.mainBox{
    display: flex;
    border-radius: 10px;
    border: 5px solid grey;
}
.controlButton{
    background-color: grey;
    height: 100%;
    width: 10%;
    border-radius: 10px;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}